{% extends 'base.html.twig' %}
{% block title %}Liste des rencontres{% endblock %} 
{% block body %}

<h1>Liste des rencontres</h1>

<ul>
    {% for rencontre in rencontres %}
       <li>
         <strong>ID:</strong> {{ rencontre.id }} —
         <strong>Date:</strong> {{ rencontre.date ? rencontre.date|date('Y-m-d H:i') : '' }} —
         <strong>Jeu:</strong> {{ rencontre.jeu }} —
         <strong>Résultat:</strong> {{ rencontre.resultat }}
       </li>

       {% else %}
       <li>Aucune rencontre</li>
    {% endfor %}
</ul>
<a href="{{ path('app_rencontre_ajouter') }}">Ajouter une rencontre</a>
{% endblock %}



